body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 50px 1fr 60px;
  grid-template-columns: 1fr;

  grid-template-areas:
    "header"
    "nav"
    "article"
    "footer";
}

header {
  grid-area: header;
  background: #151515;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
}


nav {
  grid-area: nav;
  background: #d5d3d8;
  padding: 10px;
  font-size: 15px;
  color: #151515;
}


  

article {
  grid-area: article;
  overflow-y: auto; 
  padding: 20px;
  background: #F0EFF4;
}

footer {
  grid-area: footer;
  background: #151515;
  color: #c6a364;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

 .navp {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-family: "Italiana", sans-serif;
    font-weight: 600;

}

h1 {
  justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #151515;
}
 
    

 a {
    font-size: 20px;
    color:#151515;
    text-decoration: none;
    transition: color 1.0s ease;
    
 }

 a:hover {
    color:#c6a364;
 }

 a img {
     border: 3px solid #d5d3d8;
 }

 .botão {
  justify-content: center;
    align-items: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#a20518;
 }

 p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  
 }

 .container {
  display:flex;
  gap:10px;
 }

 


 